#app {
  /* width: clamp(300px, 100%, 800px); */
  height: 100vh;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
}
body {
  --primary-color: #ffffff;
  --primary-bg-color: rgba(0, 0, 0, 0.2);
}

:root[type='contribution'] {
  --time-selector-active-bg: linear-gradient(180deg, #5a2ffc -9.6%, #8963f1 100%);
  --number-button-bg: linear-gradient(180deg, #5a2ffc -9.6%, #c979ff 100%);
  --footer-container-bg: linear-gradient(360deg, #22174a 0%, #5a37d4 100%);
}

:root[type='charm'] {
  --time-selector-active-bg: linear-gradient(180deg, #7abaff 0%, #b077ff 100%);
  --number-button-bg: linear-gradient(180deg, #8d90ff 0%, #ff73fb 100%);
  --footer-container-bg: linear-gradient(360deg, #3e5cf1 0%, #9c9bff 100%);
}
