:root[level='charm-level-1'] {
  --primary-color: hsl(231 21 35 / 1);
  --primary-bg-color: hsl(220 69 94 / 1);
  --level-intro-bg: transparent;
  --gradient-bg: linear-gradient(180deg, #d5dbf0 0%, transparent 100%);
  --box-border-color: transparent;
  --icon-bg-color: hsl(from #d5dbf0 h s calc(l + 5) / 1);
  --icon-color: #acb8f3;

  .charm-progress {
    .progress-fill {
      --progress-fill-color: linear-gradient(90deg, #f4f5fe 0%, #ffffff 50%, #f4f5fe 100%);
    }
  }
  .gradient-text-right {
    --r1: #7a81b0;
    --r2: #62789f;
    --r3: #6079a2;
  }
}

:root[level='charm-level-2'] {
  --primary-color: hsl(230 35 51 / 1);
  --primary-bg-color: hsl(220 69 94 / 1);
  --level-intro-bg: transparent;
  --gradient-bg: linear-gradient(180deg, #a7beff 0%, transparent 100%);
  --box-border-color: transparent;
  --icon-bg-color: hsl(from #a7beff h s calc(l + 5) / 1);
  --icon-color: #889aff;

  .charm-progress {
    .progress-fill {
      --progress-fill-color: linear-gradient(90deg, #a0abff 0%, #ffffff 50%, #a0abff 100%);
    }
  }
  .gradient-text-right {
    --r1: #6580e9;
    --r2: #5585df;
    --r3: #4e7fde;
  }
}

:root[level='charm-level-3'] {
  --primary-color: hsl(248 35 51 / 1);
  --primary-bg-color: hsl(237 90 95 / 1);
  --level-intro-bg: transparent;
  --gradient-bg: linear-gradient(180deg, #a9a7ff 0%, transparent 100%);
  --box-border-color: transparent;
  --icon-bg-color: hsl(from #a9a7ff h s calc(l + 5) / 1);
  --icon-color: #b8a1ff;

  .charm-progress {
    .progress-fill {
      --progress-fill-color: linear-gradient(90deg, #ada4ff 0%, #ffffff 50%, #ada4ff 100%);
    }
  }
  .gradient-text-right {
    --r1: #7956d0;
    --r2: #8958c1;
    --r3: #7f59b5;
  }
}

:root[level='charm-level-4'] {
  --primary-color: hsl(316 35 51 / 1);
  --primary-bg-color: hsl(320 100 98 / 1);
  --level-intro-bg: transparent;
  --gradient-bg: linear-gradient(180deg, #ffb6dc 0%, transparent 100%);
  --box-border-color: transparent;
  --icon-bg-color: hsl(from #ffb6dc h s calc(l + 5) / 1);
  --icon-color: #feaef6;

  .charm-progress {
    .progress-fill {
      --progress-fill-color: linear-gradient(90deg, #fea2ee 0%, #ffffff 50%, #fea2ee 100%);
    }
  }
  .gradient-text-right {
    --r1: #f065a9;
    --r2: #da4978;
    --r3: #c94570;
  }
}

:root[level='charm-level-5'] {
  --primary-color: hsl(9 35 51 / 1);
  --primary-bg-color: hsl(20 100 98 / 1);
  --level-intro-bg: transparent;
  --gradient-bg: linear-gradient(180deg, #ffd3bc 0%, transparent 100%);
  --box-border-color: transparent;
  --icon-bg-color: hsl(from #ffd3bc h s calc(l + 5) / 1);
  --icon-color: #ffc5a9;

  .charm-progress {
    .progress-fill {
      --progress-fill-color: linear-gradient(90deg, #ffc49e 0%, #ffffff 50%, #ffc49e 100%);
    }
  }
  .gradient-text-right {
    --r1: #d99f5d;
    --r2: #e17f55;
    --r3: #d16951;
  }
}
