@import './base.css';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

#app {
  width: clamp(375px, 100%, 500px);
  min-height: 100vh;
  margin: 0 auto;
}
